body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    height: 55em;
    width: 60em;
    background: rgba(16, 119, 224, 0.16);
    /* -webkit-box-shadow: 0px 1.5px 1px 1px #347599;
    -moz-box-shadow: 0px 1.5px 1px 1px #347599;
    -ms-box-shadow: 0px 1.5px 1px 1px #347599;
    -o-box-shadow: 0px 1.5px 1px 1px #347599; */
    margin: 100px auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 2.5em;
    border-radius: 10px;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo{
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}

